
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>🐒</title>
    <meta name="description" content="Collect links"/>
    <link rel="stylesheet" href="/css/foundation.min.css"/>
    <link rel="stylesheet" href="/css/foundation-icons.css"/>
    <style>
        body {
            background-color: #fafafa;
        }
    </style>
</head>
<body>
<div class="row" style="margin-bottom: 20px">
    <div class="small-12 columns">
        <nav class="top-bar" data-topbar="" role="navigation" style="background-color: #008CBA">
            <!-- Title -->
            <ul class="title-area">
                <li class="name"><h1><a href="{{ path('homepage') }}">ShareMonkey 🐒</a></h1></li>
                <!-- Mobile Menu Toggle -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <!-- Top Bar Section -->
            <section class="top-bar-section">
                {#
                <!-- Top Bar Left Nav Elements -->
                <ul class="left">
                    <!-- Search | has-form wrapper -->
                    <li class="has-form">
                        <div class="row collapse">
                            <div class="large-8 small-9 columns">
                                <input type="text" placeholder="Find Stuff">
                            </div>
                            <div class="large-4 small-3 columns">
                                <a href="#" class="alert button expand">Search</a>
                            </div>
                        </div>
                    </li>
                </ul>
                #}
                <!-- Top Bar Right Nav Elements -->
                <ul class="right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="has-form" style="background-color: #008CBA">
                            <a href="{{ path('link.create') }}" class="button" style="background-color: #000000">Add Link</a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#" style="background-color: #008CBA"><i class="fi-torso" title="logged in as"></i> {{ app.user.username }}</a>
                            <ul class="dropdown">
                                <li><a href="{{ path('logout') }}" style="background-color: #008CBA">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="has-form" style="background-color: #008CBA">
                            <a href="{{ path('login') }}" class="button" style="background-color: #000000">Login</a>
                        </li>
                    {% endif %}
                </ul>

            </section>

        </nav>
    </div>
</div>
{% block body %}
{% endblock %}
<footer class="row">
</footer>
</body>
</html>
