{% for link in links %}
    <div class="row">
        <div class="large-12 columns">
            <p style="margin-bottom: 0">
                <a href="{{ link.url }}">{{ link.title }}</a><br />
                <small><a href="{{ link.url }}" class="url">{{ link.url|length > 150 ? link.url|slice(0, 150) ~ '...' : link.url }}</a></small><br />
                <span class="meta">
                    <span class="about">by <span class="author">{{ link.author }}</span> on <span class="date">{{ link.createdTs|date('d/m H:i') }}</span></span>
                    /
                    <span class="reactions">
                        <i class="fi-graph-trend" title="clicks"></i> <span class="count">{{ link.numberOfClicks }}</span>
                        <i class="fi-like" title="likes"></i> <span class="count">{{ link.numberOfLikes }}</span>
                        <i class="fi-dislike" title="dislikes"></i> <span class="count">{{ link.numberOfDislikes }}</span>
                        <i class="fi-comments" title="comments"></i> <span class="count">{{ link.numberOfComments }}</span>
                    </span>
                    {% for tag in link.tags %}
                        {% if loop.first %}/{% endif %}
                        <a href="{{ path('tag', { 'tag' : tag.value }) }}"><span class="round secondary label">{{ tag.value }}</span></a>
                    {% endfor %}
                </span>
            </p>
        </div>
    </div>
    <hr />
{% else %}
    <p>No links found</p>
{% endfor %}
